@import url(http://fonts.googleapis.com/css?family=Lato:400,900);

.middle {
  background: #ECECEC;
}


.no-touch .vcard:hover {
  transform: translateY(1.5em) translateZ(0);
}
.no-touch .vcard:hover .bio {
  transform: translateY(-3em) translateZ(0);
}
.no-touch .vcard:hover .links {
  transform: rotateX(0deg);
  background: white;
}

.vcard {
  position: relative;
  width: 100%;
  max-width: 280px;
  perspective: 800px;
  font-size: 24px;
  transition: transform .3s;
  margin: 30px;
  transform: translateZ(0);
  -webkit-tap-highlight-color: transparent;
  display: inline-block;
  margin-left: 45px;
  margin-right: 45px;
  margin-bottom: 20px;
  margin-top: 30px;
}

.vcardContainer{
  margin-left: 9em;
  margin-right: 9em;
}

.middle h2 {
  margin-top: 10px !important;
}

.heading {
  font-size: 40px;
  color: white;
  text-align: center;
  margin-top: 0px;
  padding-top: 30px;
}

.vcard > * {
  box-sizing: border-box;
}
.vcard.active {
  transform: translateY(1.5em) translateZ(0);
}
.vcard.active .bio {
  transform: translateY(-3em) translateZ(0);
}
.vcard.active .links {
  transform: rotateX(0deg);
  background: white;
}
.vcard .bio {
  overflow: hidden;
  position: relative;
  z-index: 1;
  width: 100%;
  padding: 1em;
  padding-top: 2em;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  background: white;
  border-top: #159FCD solid 4px;
  border-bottom: #ccc solid 2px;
  font-family: sans-serif;
  font-size: .625em;
  line-height: 160%;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translateZ(0);
  transition-duration: .3s;
  transition-properties: transform;
}
.vcard .bio h1,
.vcard .bio h2,
.vcard .bio p {
  height: 250px;
  width: 264px;
}
.vcard .bio h1,
.vcard .bio h2 {
  font-family: 'Oswald', sans-serif;
  margin: 0;
  line-height: 140%;
  font-weight: 900;
}
.vcard .bio h1 {
  font-size: 1.375em;
  height: 20px;
  padding-bottom: 6px;
}
.vcard .bio h2 {
  font-size: 1em;
  height: 20px;
}
.vcard .bio p {
  font-family: 'Lato', sans-serif;
  
}
.vcard .bio img {
  display: block;
  margin: 0 auto;
  margin-bottom: .725em;
  border-radius: 50%;
  height: 271px;
  width: 193px;
}
.vcard .bio a {
  text-decoration: none;
  color: #159FCD;
  transition: .3s color;
}
.vcard .bio a:hover {
  color: #27589A;
}
.vcard .links {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  background: black;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  transform-origin: 50% 0%;
  transform: rotateX(-90deg) translateZ(0);
  transition-duration: .3s;
  transition-properties: background transform;
}
.vcard li {
  display: inline-block;
  vertical-align: middle;
  width: 20%;
  list-style: none;
  text-align: center;
}
.vcard li a {
  display: block;
  width: 100%;
  height: 1em;
  padding: .5em 0;
  color: #222;
  transition-duration: .5s;
  transition-property: background;
}
.vcard li a:hover {
  background: #EEE;
}

.heads {
  height: 70px;
}